{
# Make sure qemu canb use br0:
# echo "allow br0" | sudo tee /etc/qemu/bridge.conf
#
  bridge = "br0";

  sshKeys = [
    "ssh-rsa YOUR_PUBLIC_KEY user@host"
  ];

  # Optional: override DHCP DNS
  # dns = "192.168.0.1";

  # Optional: disable algif_aead kernel module (CVE-2026-31431 mitigation)
  # disableAlgifAead = true;
}
